@model BLL.Dtos.ProductDto.ReadProductDto

<h2>Product Details</h2>

<div>
    <strong>Name:</strong> @Model.Name
</div>
<div>
    <strong>Price:</strong> @Model.Price
</div>
<div>
    <strong>Description:</strong> @Model.Description
</div>
<div>
    <strong>Image:</strong><br />
    <img src="~/Assest/Images/@Model.ImageUrl" width="200" />
</div>

<a class="btn btn-secondary" asp-action="Index">Back to List</a>
